<ng-container *ngIf="card">
    <section class="card-grid">
        <div class="deck-card bg-card border-divider rounded p2"
             flexBox="column"
             flexMain="center"
             flexCross="center">
            <img [src]="card.image"
                 [alt]="card.name">
        </div>
        <div class="card-details bg-card border-divider rounded"
             flexBox="column"
             flexMain="start"
             flexCross="stretch">
            <p class="mat-headline-4 marker"
               flexAlign="center">{{card.name}}</p>
            <p class="mat-h2 marker">Upright</p>
            <p>{{card.upright.join(' - ')}}</p>
            <p class="mat-h2 marker">Reversed</p>
            <p>{{card.reversed.join(' - ')}}</p>
            <p class="mat-h2 marker">Element</p>
            <div flexBox="row"
                 flexMain="start"
                 flexCross="center">
                <img [src]="card.element.image"
                     [alt]="card.element.name"
                     [width]="24">
                <p class="mat-h2"
                   flex>
                    {{card.element.name}}
                </p>
                <p class="mat-h2">
                    {{card.element.polarity}}
                </p>
            </div>
            <p>
                {{card.element.keywords.join(' - ')}}
            </p>
            <ng-container *ngIf="planet">
                <p class="mat-h2 marker">Planet</p>
                <div flexBox="row"
                     flexCross="center">
                    <img [src]="planet.image"
                         [alt]="planet.name"
                         [width]="24">
                    <p class="mat-h3"
                       flex>{{planet.name}}</p>
                    <p class="mat-h3">Transition: {{planet.transition}}</p>
                </div>
            </ng-container>
            <ng-container *ngIf="zodiac">
                <p class="mat-h2 marker">Zodiac</p>
                <div class="zodiac-grid">
                    <div flexBox="row"
                         flexCross="center">
                        <img [src]="zodiac.image"
                             [alt]="zodiac.name"
                             [width]="24">
                        <p class="mat-h3"
                           flex>{{zodiac.name}}</p>
                    </div>
                    <p class="mat-h3">{{zodiac.dates}}</p>
                    <div flexBox="row"
                         flexCross="center">
                        <img [src]="zodiac.ruler.image"
                             [alt]="zodiac.ruler.name"
                             [width]="24">
                        <p class="mat-h3">{{zodiac.ruler.name}}</p>
                    </div>
                </div>
            </ng-container>
            <p class="mat-h3 marker">{{card.astrologyType}} Keywords</p>
            <p>{{card.astrology.keywords.join(' - ')}}</p>
        </div>
    </section>
</ng-container>
