@use '@angular/material' as mat;
@use './palette.scss';

@import './color.scss';
@import './elevation.scss';
@import './layout.scss';
@import './utility.scss';

@include mat.core();

$palette: palette.get-palette();
$light-theme: mat.define-light-theme(palette.get-theme($palette));

@include style-theme($light-theme, $palette);
@include mat.all-component-themes($light-theme);
@include mat.typography-hierarchy($light-theme);

.app-dark {
    $dark-theme: mat.define-dark-theme(palette.get-theme($palette));

    @include style-theme($dark-theme, $palette);
    @include mat.all-component-colors($dark-theme);
    @include mat.typography-hierarchy($dark-theme);
}
