section.deck-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

@media (max-width: 2000px) {
    section.deck-grid {
        grid-template-columns: repeat(10, 1fr);
    }
}

@media (max-width: 1600px) {
    section.deck-grid {
        grid-template-columns: repeat(8, 1fr);
    }
}

@media (max-width: 1200px) {
    section.deck-grid {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (max-width: 800px) {
    section.deck-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}
